body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.error_ingreso {
    color: #ed1717;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*display: none;*/
}
.ok_ingreso {
    color: darkgreen;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
   margin-left: 0px;
  }
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.image-foto {
    width: 140px;
    height: 140px;
}

.all-tabla {
    margin-bottom: -5px;
}

.check-in-tabla {
    margin-top: 5px;
}

.row-tabla {
    vertical-align: middle;
    padding: 2px 0px;
}

.nowrap {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.nav>li>a>img {
    max-width: none;
}
.user-profile{
    height: 50px;
}
.user-profile img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    margin-right: 10px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}