
@{
ViewBag.Title = "Index";
}
@if (Model) {
  <!--Menu Antiguo  
<li>
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="~/Content/Images/user.png" alt="">{{userSession.Persona.NomFmt}}
        <span class="fa fa-angle-down"></span>
    </a>
    
    <ul class="dropdown-menu dropdown-usermenu pull-right">
        <li><a href="/Home/Perfil/">Perfil</a></li>
        <li>
        <a href="" data-toggle="modal" data-target="#modalCambioPwd">Cambio Clave</a>
        </li>
        <li class="divider"></li>
        <li><a href="" data-toggle="modal" data-target="#modalLogout" >Logout</a></li>
    </ul>
</li>
      -->
<li class="dropdown profile_details_drop">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <div class="profile_img">
            <div class="user-name">
                <p title="{{userSession.Persona.NomFmt}}">{{userSession.Persona.NomFmt}}<span>{{userSession.NombrePerfil}}</span></p>
            </div>
            <span style="background:url(../../Content/Images/user.png) no-repeat center;"> </span>
            <div class="clearfix"></div>
        </div>
    </a>
    <ul class="dropdown-menu drp-mnu">
        <li> <a href="/Home/Perfil/"><i class="fa fa-cog"></i> Perfil</a> </li>
        <li> <a href="" data-toggle="modal" data-target="#modalCambioPwd"><i class="fa fa-user"></i>Cambio Clave</a> </li>
        <li> <a href="" data-toggle="modal" data-target="#modalLogout"><i class="fa fa-sign-out"></i> Logout</a> </li>
    </ul>
</li>
}
