
@{
ViewBag.Title = "Index";
}
@if (Model) {
<li>
    
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <img src="~/Content/Images/user.png" alt="">{{userSession.Persona.NomFmt}}
        <span class="fa fa-angle-down"></span>
    </a>
    
    <ul class="dropdown-menu dropdown-usermenu pull-right">
        <li><a href="/Home/Perfil/">Perfil</a></li>
        <li>
        <a href="" data-toggle="modal" data-target="#modalCambioPwd">Cambio Clave</a>
        </li>
        <li class="divider"></li>
        <li><a href="" data-toggle="modal" data-target="#modalLogout" >Logout</a></li>
    </ul>
</li>
}
