<div class="row">
    <div class="col-md-12">
        <h1>Detalles de la Versi&oacute;n</h1>
        <ol class="breadcrumb autoscroll">
            <li><a href="/AdminClt#/">Versiones</a></li>
            <li class="active">Detalle Versi&oacute;n {{version.Release}}</li>
        </ol>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="alert alert-warning" ng-show="existeTareaAtrasada" ng-controller="controllerHome">
            <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ADVERTENCIA:</strong> Existen componentes SQL que aún no se ejecutan, click <button ng-click="ShowDetalleTarea(userSession.Cliente.Id, version.IdVersion)" type="button" class="btn btn-warning btn-xs">AQUÍ</button> para ver detalle.
        </div>
        <div class="col-md-12">
            <div class="btn-toolbar hidden-xs">
                <div class="btn-group" role="toolbar">
                    <a ng-repeat="ambiente in ambientes" ng-click="ShowConfirmPublish(ambiente.idAmbientes, ambiente.Nombre, version.IdVersion)" ng-disabled="ambiente.Estado=='V'" data-toggle="modal" class="btn btn-default">
                        <span class="fa fa-fw fa-square-o" ng-show="ambiente.Estado==' '"></span><span class="fa fa-fw fa-check-square-o" ng-show="ambiente.Estado=='V'"></span> Publicar en {{ambiente.Nombre}}
                    </a>
                </div>
            </div>
            
            <div class="btn-toolbar visible-xs-block">
                <div class="btn-group" role="toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="fa fa-fw fa-binoculars"></span> Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="ShowConfirmPublish()" ng-disabled="version.Estado=='C'" data-toggle="modal" ng-hide="version.IdVersion==0">
                                    <span class="fa fa-square-o" ng-show="version.Estado=='N'"></span><span class="fa fa-fw fa-check-square-o" ng-show="version.Estado=='P'"></span> Publicado
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <p>
        {{version.Comentario}}
    </p>
    <div class="row">
        <div class="col-md-12">
            <h1>Componentes</h1>
            <br />
            <div role="tabpanel" ng-init="panel=1">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a ng-click="panel = 1" style="cursor: pointer" role="tab" data-toggle="tab">Ejecutables</a></li>
                    <li role="presentation"><a ng-click="panel = 2" style="cursor: pointer" role="tab" data-toggle="tab">Reportes</a></li>
                    <li role="presentation"><a ng-click="panel = 3" style="cursor: pointer" role="tab" data-toggle="tab">Otros</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" ng-class="{active:panel==1}">
                        <br />
                        <div class="alert alert-info" ng-show="totales[0]==0">
                            <span class="fa fa-file-o"></span> Sin Componentes
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="ejecutable in version.Componentes | filtroEjecutables">
                                <div class="item panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title single-line">{{ejecutable.Name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <img src="~/Content/Images/Run.png" alt="" class="avatar img-thumbnail image-foto" />
                                        <div class="pull-right" style="width: 50%">
                                            <ul class="list-unstyled">
                                                <li><span class="fa fa-fw fa-cube"></span> {{ejecutable.Modulo}}</li>
                                                <li><span class="fa fa-fw fa-calendar"></span> {{ejecutable.DateCreateFmt}}</li>
                                                <li><span class="fa fa-fw fa-bug"></span> {{ejecutable.Version}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right" ng-init="inficha=true">
                                        <a ng-click="ShowDetalle(version.IdVersion, ejecutable.Name)" class="btn btn-labeled btn-primary" data-toggle="modal" ng-disabled="formData.estado=='C'">
                                            <span class="btn-label"><span class="fa fa-pencil"></span></span> Detalle Cambio
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active:panel==2}">
                        <br />
                        <div class="alert alert-info" ng-show="totales[1]==0">
                            <span class="fa fa-file-o"></span> Sin Componentes
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="reporte in version.Componentes | filtroReportes">
                                <div class="item panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title single-line">{{reporte.Name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <img src="~/Content/Images/Printer.png" alt="" class="avatar img-thumbnail image-foto" />
                                        <div class="pull-right" style="width: 50%">
                                            <ul class="list-unstyled">
                                                <li><span class="fa fa-fw fa-cube"></span> {{reporte.Modulo}}</li>
                                                <li><span class="fa fa-fw fa-calendar"></span> {{reporte.DateCreateFmt}}</li>
                                                <li><span class="fa fa-fw fa-bug"></span> {{reporte.Version}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right" ng-init="inficha=true">
                                        <a ng-click="ShowDetalle(version.IdVersion, ejecutable.Name)" class="btn btn-labeled btn-primary" data-toggle="modal" ng-disabled="formData.estado=='C'">
                                            <span class="btn-label"><span class="fa fa-pencil"></span></span> Detalle Cambio
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active:panel==3}">
                        <br />
                        <div class="alert alert-info" ng-show="totales[2]==0">
                            <span class="fa fa-file-o"></span> Sin Componentes
                        </div>
                        <div class="row">
                            
                            <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="otro in version.Componentes | filtroOtros" ng-controller="controllerHome">
                                <div class="item panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title single-line">{{otro.Name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <img src="~/Content/Images/SD Card.png" alt="" class="avatar img-thumbnail image-foto" />
                                        <div class="pull-right" style="width: 50%">
                                            <ul class="list-unstyled">
                                                <li><span class="fa fa-fw fa-cube"></span> {{otro.Modulo}}</li>
                                                <li><span class="fa fa-fw fa-calendar"></span> {{otro.DateCreateFmt}}</li>
                                                <li><span class="fa fa-fw fa-bug"></span> {{otro.Version}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right" ng-init="inficha=true">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group-sm margin-bottom-sm">
                                                    <div class="dropdown">
                                                        <button class="btn btn-labeled btn-success dropdown-toggle" type="button" data-toggle="dropdown">
                                                            <span class="btn-label"><span class="fa fa-gear"></span></span>Ejecutar en...
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li  ng-repeat="ambiente in ambientes"><a ng-click="ShowConfirmEjecSQL(ambiente.idAmbientes, ambiente.Nombre, otro.Modulo, otro.Name, userSession.Cliente.Id, userSession.CodPrf)" data-toggle="modal">{{ambiente.Nombre}}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>  
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group-sm margin-bottom-sm">
                                                    <a ng-click="ShowDetalle(version.IdVersion, ejecutable.Name)" class="btn btn-labeled btn-primary" data-toggle="modal" ng-disabled="formData.estado=='C'">
                                                        <span class="btn-label"><span class="fa fa-pencil"></span></span> Detalle Cambio
                                                    </a>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmar Publicaci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    A continuación se proceder&aacute; a publicar en el ambiente <b>{{nombreambiente}}</b>. Una vez publicado
                    Winper Update comenzar&aacute; a instalar la versi&oacute;n <b>{{version.Release}}</b> en cada una de las estaciones
                    de trabajo en que se encuentre activado Winper Update.<br /><br />
                    Confirma que desea publicar la Versi&oacute;n ?
                </div>
                <div class="modal-footer">
                    <span style="color: red">{{mensaje}}</span>
                    <button class="btn btn-danger" ng-click="Publicar()" ng-disabled="estaVigente">Confirmar</button>
                    <button class="btn btn-default btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="ejecsql-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmar Ejecución</h4>
                </div>
                <div class="modal-body">
                    A continuación se procederá a ejecutar el script <b>{{nombrearchExSQL}}</b> de la versión <b>{{version.Release}}</b> en el 
                    ambiente <b>{{nombreambienteExSQL}}</b>, esta tarea <b>NO</b> es inmediata, debe esperar a que WinperUpdate la realice.
                    Si desea ejecutar usted el script, puede copiarlo haciendo click en la opción <b>Ver Script</b>.
                    <textarea class="form-control" ng-show="showScript" ng-model="txtarea" rows="15"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" ng-click="EjecutarTareaSQL(version.IdVersion)" ng-disabled="estaVigente">Ejecutar Script</button>
                    <button class="btn btn-info" ng-click="ShowScriptSQL(version.IdVersion, nombrearchExSQL, idAmbienteExSQL, userSession)" ng-disabled="estaVigente">Ver Script</button>
                    <button class="btn btn-default btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="avisoexsql-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Aviso WinperUpdate</h4>
                </div>
                <div class="modal-body">
                    {{msgAvisoExSQL}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="detalletareas-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Detalle de Componentes SQL</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ambiente</th>
                                <th>Estado</th>
                                <th>Componente</th>
                                <th>Error</th>
                                <th>Fecha de Registro</th>
                                <th>Reportar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tarea in tareasAtrasadas" class="{{tarea.ClassId}}">
                                <td>{{tarea.Ambientes.Nombre}}</td>
                                <td>{{tarea.EstadoFmt}}</td>
                                <td>{{tarea.NameFile}}</td>
                                <td><textarea ng-disabled="tarea.Estado==0" class="form-control" ng-model="tarea.Error"></textarea></td>
                                <td><span class="label label-default">{{tarea.FechaRegistroFmt}}</span></td>
                                <td>
                                    <button ng-click="ReportarTareaAtrasada(tarea)" ng-disabled="tarea.Reportado || labelReportar=='Enviando...'" class="btn btn-info" type="button">
                                        <span ng-hide="tarea.Reportado" class="fa fa-envelope"></span>
                                        <span ng-show="tarea.Reportado" class="fa fa-check"></span>
                                        {{labelReportar}}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" ng-click="ReportarTodasTareas()" ng-disabled="labelReportarTodasTareas=='Reportados' || labelReportarTodasTareas=='Enviando...' || labelReportar=='Enviando...'">
                    {{labelReportarTodasTareas}}
                    </button>
                    <button class="btn btn-default btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

</div>



