/****** Object:  UserDefinedFunction [dbo].[fcn_ambienteok]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fcn_ambienteok] (@pIdVersion int, @pIdAmbientes int) 
RETURNS bit

AS
BEGIN 
DECLARE @cantidadCompSQL int;
DECLARE @cantidadTareasOK int;

SET @cantidadCompSQL = (SELECT count(*) 
								  FROM componentes 
								  WHERE idversion = @pIdVersion  
								  AND namefile LIKE '%.sql');
SET @cantidadTareasOK = (SELECT count(*) 
							       FROM tareas 
								   WHERE idambientes = @pIdAmbientes
								   AND estado IN(1,3)
								   AND idversion = @pIdVersion 
								   AND namefile LIKE '%.sql');

IF (@cantidadCompSQL = @cantidadTareasOK)
BEGIN
RETURN 1;
END
RETURN 0;

END;

GO
/****** Object:  UserDefinedFunction [dbo].[fcn_isAmbienteEx]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fcn_isAmbienteEx] (@pIdAmbientes int, @pIdVersion int, @pNameFile varchar(50)) 
RETURNS bit

AS
BEGIN 
DECLARE @estadoAmbiente int;

SET @estadoAmbiente = (SELECT count(*) FROM tareas 
									    WHERE idAmbientes = @pIdAmbientes
										AND idVersion = @pIdVersion
										AND NameFile = @pNameFile
										AND Estado IN (1,3));


IF (@estadoAmbiente = 0)
BEGIN
RETURN 0;
END
RETURN 1;

END;


GO
/****** Object:  Table [dbo].[Ambientes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambientes](
	[idAmbientes] [int] IDENTITY(1,1) NOT NULL,
	[idClientes] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Tipo] [int] NULL,
	[ServerBd] [varchar](100) NULL,
	[Instancia] [varchar](100) NULL,
	[NomBd] [varchar](100) NULL,
	[UserDbo] [varchar](50) NULL,
	[PwdDbo] [varchar](50) NULL,
 CONSTRAINT [PK_Ambientes] PRIMARY KEY CLUSTERED 
(
	[idAmbientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ambientes_has_Componentes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ambientes_has_Componentes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idAmbientes] [int] NULL,
	[Modulo] [char](30) NULL,
	[idVersion] [int] NULL,
	[NameFile] [varchar](50) NULL,
 CONSTRAINT [PK_Ambientes_has_Componentes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AmbientesXLSX]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AmbientesXLSX](
	[idAmbientes] [int] NULL,
	[idClientes] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Tipo] [int] NULL,
	[ServerBd] [varchar](100) NULL,
	[Instancia] [varchar](100) NULL,
	[NomBd] [varchar](100) NULL,
	[UserDbo] [varchar](50) NULL,
	[PwdDbo] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
	[EstadoRegistro] [int] NULL,
	[ErrorRegistro] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[idClientes] [int] IDENTITY(1,1) NOT NULL,
	[idCmn] [int] NOT NULL,
	[Rut] [int] NULL,
	[Dv] [char](1) NULL,
	[RazonSocial] [varchar](100) NULL,
	[Direccion] [varchar](100) NULL,
	[NroLicencia] [varchar](100) NULL,
	[Folio] [int] NULL,
	[EstMtc] [int] NULL,
	[MesIni] [varchar](50) NULL,
	[NroTrbc] [varchar](50) NULL,
	[NroTrbh] [varchar](50) NULL,
	[NroUsr] [varchar](50) NULL,
	[MesCon] [varchar](50) NULL,
	[Correlativo] [int] NULL,
 CONSTRAINT [PK__Clientes__470BDBA00F975522] PRIMARY KEY CLUSTERED 
(
	[idClientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes_has_Modulos]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_has_Modulos](
	[idClientes] [int] NOT NULL,
	[idModulo] [int] NOT NULL,
 CONSTRAINT [PK_Clientes_has_ModulosWinper] PRIMARY KEY CLUSTERED 
(
	[idClientes] ASC,
	[idModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes_has_Usuarios]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_has_Usuarios](
	[idClientes] [int] NOT NULL,
	[idUsuarios] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idClientes] ASC,
	[idUsuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cmn]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cmn](
	[idCmn] [int] IDENTITY(1,1) NOT NULL,
	[idRgn] [int] NOT NULL,
	[NomCmn] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCmn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Componentes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Componentes](
	[Modulo] [char](30) NOT NULL,
	[idVersion] [int] NOT NULL,
	[NameFile] [varchar](50) NOT NULL,
	[VersionFile] [varchar](50) NULL,
	[FechaFile] [datetime] NULL,
	[Comentario] [varchar](8000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Modulo] ASC,
	[idVersion] ASC,
	[NameFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComponentesModulos]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComponentesModulos](
	[idComponentesModulos] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[Modulos] [int] NULL,
	[TipoComponentes] [int] NULL,
 CONSTRAINT [PK_ComponentesModulos] PRIMARY KEY CLUSTERED 
(
	[idComponentesModulos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Folios]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folios](
	[Identificador] [varchar](30) NOT NULL,
	[Numero] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[idMenus] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Link] [varchar](50) NULL,
	[CodPrf] [int] NULL,
	[Icon] [varchar](50) NULL,
	[Submenus] [text] NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[idMenus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modulos]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulos](
	[idModulo] [int] IDENTITY(1,1) NOT NULL,
	[NomModulo] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[isCore] [bit] NULL,
	[Directorio] [varchar](100) NULL,
	[Estado] [char](1) NULL,
	[Suite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModulosXLSX]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulosXLSX](
	[idModulo] [int] IDENTITY(1,1) NOT NULL,
	[NomModulo] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[isCore] [bit] NULL,
	[Directorio] [varchar](100) NULL,
	[FechaRegistro] [date] NULL,
	[EstadoRegistro] [int] NULL,
	[ErrorRegistro] [text] NULL,
	[Usuario] [int] NULL,
 CONSTRAINT [PK_ModulosXLSX_1] PRIMARY KEY CLUSTERED 
(
	[idModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ModuloVersiones]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuloVersiones](
	[idVersion] [int] NOT NULL,
	[Modulo] [char](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVersion] ASC,
	[Modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[CodPrf] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Tipo] [char](1) NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[CodPrf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Perfiles_has_Menus]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles_has_Menus](
	[CodPrf] [int] NULL,
	[idMenus] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Personas]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[idPersonas] [int] IDENTITY(1,1) NOT NULL,
	[Apellidos] [varchar](100) NULL,
	[Nombres] [varchar](100) NULL,
	[Mail] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersonas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rgn]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rgn](
	[idRgn] [int] IDENTITY(1,1) NOT NULL,
	[NomRgn] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRgn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Suites]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suites](
	[idSuite] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Suites] PRIMARY KEY CLUSTERED 
(
	[idSuite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[idTareas] [int] IDENTITY(1,1) NOT NULL,
	[idClientes] [int] NULL,
	[idAmbientes] [int] NULL,
	[CodPrf] [int] NULL,
	[Estado] [int] NULL,
	[Modulo] [char](30) NULL,
	[idVersion] [int] NULL,
	[NameFile] [varchar](50) NULL,
	[Error] [text] NULL,
	[FechaRegistro] [datetime] NULL,
	[Reportado] [bit] NULL,
 CONSTRAINT [PK_Tareas] PRIMARY KEY CLUSTERED 
(
	[idTareas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoComponentes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComponentes](
	[idTipoComponentes] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[isCompBD] [bit] NULL,
	[isCompDLL] [bit] NULL,
	[Extensiones] [varchar](500) NULL,
 CONSTRAINT [PK_TipoComponentes] PRIMARY KEY CLUSTERED 
(
	[idTipoComponentes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tmpModulos]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpModulos](
	[idModulo] [int] NULL,
	[NomModulo] [varchar](100) NULL,
	[Descripcion] [text] NULL,
	[isCore] [bit] NULL,
	[Directorio] [varchar](100) NULL,
	[Estado] [char](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrabHonorarios]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrabHonorarios](
	[idTrabHonorarios] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrabPlantas]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrabPlantas](
	[idTrabPlantas] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuarios] [int] IDENTITY(1,1) NOT NULL,
	[idPersonas] [int] NOT NULL,
	[CodPrf] [int] NULL,
	[Clave] [varchar](100) NULL,
	[EstUsr] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Versiones]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versiones](
	[idVersion] [int] IDENTITY(1,1) NOT NULL,
	[NumVersion] [varchar](50) NULL,
	[FecVersion] [datetime] NULL,
	[Estado] [char](1) NULL,
	[Comentario] [varchar](1024) NULL,
	[Usuario] [varchar](100) NULL,
	[Instalador] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Versiones_has_Clientes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versiones_has_Clientes](
	[idVersion] [int] NOT NULL,
	[idClientes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVersion] ASC,
	[idClientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Versiones_has_Clientes_has_Ambientes]    Script Date: 06-02-2017 11:45:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Versiones_has_Clientes_has_Ambientes](
	[idClientes] [int] NOT NULL,
	[idVersion] [int] NOT NULL,
	[idAmbientes] [int] NOT NULL,
	[Estado] [char](1) NULL,
	[FechaInstalacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idClientes] ASC,
	[idVersion] ASC,
	[idAmbientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cmn] ON 

INSERT [dbo].[Cmn] ([idCmn], [idRgn], [NomCmn]) VALUES (1, 1, N'Iquique')
INSERT [dbo].[Cmn] ([idCmn], [idRgn], [NomCmn]) VALUES (2, 1, N'Alto Hospicio')
INSERT [dbo].[Cmn] ([idCmn], [idRgn], [NomCmn]) VALUES (3, 1, N'Pica')
GO
SET IDENTITY_INSERT [dbo].[Cmn] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([idMenus], [Descripcion], [Link], [CodPrf], [Icon], [Submenus]) VALUES (1, N'Versiones', N'/Admin/', 1, N'fa-home', N'')
INSERT [dbo].[Menus] ([idMenus], [Descripcion], [Link], [CodPrf], [Icon], [Submenus]) VALUES (2, N'Clientes', N'/Clientes/', 1, N'fa-users', N'')
INSERT [dbo].[Menus] ([idMenus], [Descripcion], [Link], [CodPrf], [Icon], [Submenus]) VALUES (3, N'Seguridad', N'/Seguridad/', 1, N'fa-unlock', N'')
SET IDENTITY_INSERT [dbo].[Menus] OFF
SET IDENTITY_INSERT [dbo].[Modulos] ON 

INSERT [dbo].[Modulos] ([idModulo], [NomModulo], [Descripcion], [isCore], [Directorio], [Estado], [Suite]) VALUES (93, N'CONTRATO', NULL, 1, N'CONTRATOS', N'V', 1)
INSERT [dbo].[Modulos] ([idModulo], [NomModulo], [Descripcion], [isCore], [Directorio], [Estado], [Suite]) VALUES (94, N'CTACTE', NULL, 1, N'CUENTAS CORRIENTES', N'V', 1)
INSERT [dbo].[Modulos] ([idModulo], [NomModulo], [Descripcion], [isCore], [Directorio], [Estado], [Suite]) VALUES (95, N'FERIADOS', NULL, 1, N'FERIADOS', N'V', 1)
SET IDENTITY_INSERT [dbo].[Modulos] OFF
INSERT [dbo].[Perfiles] ([CodPrf], [Nombre], [Tipo]) VALUES (1, N'Administrador', N'I')
INSERT [dbo].[Perfiles] ([CodPrf], [Nombre], [Tipo]) VALUES (2, N'Desarrollador', N'I')
INSERT [dbo].[Perfiles] ([CodPrf], [Nombre], [Tipo]) VALUES (3, N'Soporte', N'I')
INSERT [dbo].[Perfiles_has_Menus] ([CodPrf], [idMenus]) VALUES (1, 1)
INSERT [dbo].[Perfiles_has_Menus] ([CodPrf], [idMenus]) VALUES (1, 2)
INSERT [dbo].[Perfiles_has_Menus] ([CodPrf], [idMenus]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Rgn] ON 

INSERT [dbo].[Rgn] ([idRgn], [NomRgn]) VALUES (1, N'Tarapacá')
INSERT [dbo].[Rgn] ([idRgn], [NomRgn]) VALUES (2, N'Antofagasta')
INSERT [dbo].[Rgn] ([idRgn], [NomRgn]) VALUES (3, N'Atacama')
SET IDENTITY_INSERT [dbo].[Rgn] OFF
SET IDENTITY_INSERT [dbo].[Suites] ON 

INSERT [dbo].[Suites] ([idSuite], [Nombre]) VALUES (1, N'PERSONAL')
INSERT [dbo].[Suites] ([idSuite], [Nombre]) VALUES (2, N'REMUNERACIONES')
INSERT [dbo].[Suites] ([idSuite], [Nombre]) VALUES (3, N'RR.HH')
SET IDENTITY_INSERT [dbo].[Suites] OFF
SET IDENTITY_INSERT [dbo].[TipoComponentes] ON 

INSERT [dbo].[TipoComponentes] ([idTipoComponentes], [Nombre], [isCompBD], [isCompDLL], [Extensiones]) VALUES (1, N'Reportes', 0, 0, N'.qrp ')
INSERT [dbo].[TipoComponentes] ([idTipoComponentes], [Nombre], [isCompBD], [isCompDLL], [Extensiones]) VALUES (2, N'Ejecutables', 0, 0, N'.exe ')
INSERT [dbo].[TipoComponentes] ([idTipoComponentes], [Nombre], [isCompBD], [isCompDLL], [Extensiones]) VALUES (3, N'Imagenes', 0, 0, N'.jpg .png .gif .bmp .ico')
SET IDENTITY_INSERT [dbo].[TipoComponentes] OFF
INSERT [dbo].[tmpModulos] ([idModulo], [NomModulo], [Descripcion], [isCore], [Directorio], [Estado]) VALUES (1, N'ADMWINPE', NULL, 1, N'ADMWINPE', N'V')
INSERT [dbo].[tmpModulos] ([idModulo], [NomModulo], [Descripcion], [isCore], [Directorio], [Estado]) VALUES (2, N'AIMPRESOR', NULL, 1, N'A_EMPRESAS\Quebecor', N'V')
INSERT [dbo].[tmpModulos] ([idModulo], [NomModulo], [Descripcion], [isCore], [Directorio], [Estado]) VALUES (15, N'FIBRA', NULL, 1, N'A_EMPRESAS\Fibra', N'V')
INSERT [dbo].[TrabHonorarios] ([idTrabHonorarios], [Descripcion]) VALUES (N'00', N'00 - Hasta 0')
INSERT [dbo].[TrabHonorarios] ([idTrabHonorarios], [Descripcion]) VALUES (N'P1', N'P1 - Hasta 30')
INSERT [dbo].[TrabHonorarios] ([idTrabHonorarios], [Descripcion]) VALUES (N'P0', N'P0 - Hasta 50')
INSERT [dbo].[TrabPlantas] ([idTrabPlantas], [Descripcion]) VALUES (N'N9', N'N9 - Hasta 15')
INSERT [dbo].[TrabPlantas] ([idTrabPlantas], [Descripcion]) VALUES (N'B2', N'B2 - Hasta 50')
INSERT [dbo].[TrabPlantas] ([idTrabPlantas], [Descripcion]) VALUES (N'N1', N'N1 - Hasta 70')
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Correlativo]  DEFAULT ((0)) FOR [Correlativo]
GO
ALTER TABLE [dbo].[Componentes] ADD  CONSTRAINT [DF_Componentes_VersionFile]  DEFAULT ('S/I') FOR [VersionFile]
GO
ALTER TABLE [dbo].[Componentes] ADD  CONSTRAINT [DF_Componentes_Comentario]  DEFAULT ('-') FOR [Comentario]
GO
ALTER TABLE [dbo].[Modulos] ADD  CONSTRAINT [DF_Modulos_Estado]  DEFAULT ('V') FOR [Estado]
GO
ALTER TABLE [dbo].[Ambientes]  WITH CHECK ADD  CONSTRAINT [FK_Ambientes_Clientes] FOREIGN KEY([idClientes])
REFERENCES [dbo].[Clientes] ([idClientes])
GO
ALTER TABLE [dbo].[Ambientes] CHECK CONSTRAINT [FK_Ambientes_Clientes]
GO
ALTER TABLE [dbo].[Ambientes_has_Componentes]  WITH CHECK ADD  CONSTRAINT [FK_Ambientes_has_Componentes_Ambientes] FOREIGN KEY([idAmbientes])
REFERENCES [dbo].[Ambientes] ([idAmbientes])
GO
ALTER TABLE [dbo].[Ambientes_has_Componentes] CHECK CONSTRAINT [FK_Ambientes_has_Componentes_Ambientes]
GO
ALTER TABLE [dbo].[Ambientes_has_Componentes]  WITH CHECK ADD  CONSTRAINT [FK_Ambientes_has_Componentes_Componentes] FOREIGN KEY([Modulo], [idVersion], [NameFile])
REFERENCES [dbo].[Componentes] ([Modulo], [idVersion], [NameFile])
GO
ALTER TABLE [dbo].[Ambientes_has_Componentes] CHECK CONSTRAINT [FK_Ambientes_has_Componentes_Componentes]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK__Clientes__idCmn__117F9D94] FOREIGN KEY([idCmn])
REFERENCES [dbo].[Cmn] ([idCmn])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK__Clientes__idCmn__117F9D94]
GO
ALTER TABLE [dbo].[Clientes_has_Modulos]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_has_Modulos_Clientes] FOREIGN KEY([idClientes])
REFERENCES [dbo].[Clientes] ([idClientes])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes_has_Modulos] CHECK CONSTRAINT [FK_Clientes_has_Modulos_Clientes]
GO
ALTER TABLE [dbo].[Clientes_has_Modulos]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_has_Modulos_Modulos] FOREIGN KEY([idModulo])
REFERENCES [dbo].[Modulos] ([idModulo])
GO
ALTER TABLE [dbo].[Clientes_has_Modulos] CHECK CONSTRAINT [FK_Clientes_has_Modulos_Modulos]
GO
ALTER TABLE [dbo].[Clientes_has_Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Clientes___idCli__4E88ABD4] FOREIGN KEY([idClientes])
REFERENCES [dbo].[Clientes] ([idClientes])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clientes_has_Usuarios] CHECK CONSTRAINT [FK__Clientes___idCli__4E88ABD4]
GO
ALTER TABLE [dbo].[Clientes_has_Usuarios]  WITH CHECK ADD FOREIGN KEY([idUsuarios])
REFERENCES [dbo].[Usuarios] ([idUsuarios])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cmn]  WITH CHECK ADD FOREIGN KEY([idRgn])
REFERENCES [dbo].[Rgn] ([idRgn])
GO
ALTER TABLE [dbo].[Componentes]  WITH CHECK ADD FOREIGN KEY([idVersion], [Modulo])
REFERENCES [dbo].[ModuloVersiones] ([idVersion], [Modulo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComponentesModulos]  WITH CHECK ADD  CONSTRAINT [FK_ComponentesModulos_Modulos] FOREIGN KEY([Modulos])
REFERENCES [dbo].[Modulos] ([idModulo])
GO
ALTER TABLE [dbo].[ComponentesModulos] CHECK CONSTRAINT [FK_ComponentesModulos_Modulos]
GO
ALTER TABLE [dbo].[ComponentesModulos]  WITH CHECK ADD  CONSTRAINT [FK_ComponentesModulos_TipoComponentes1] FOREIGN KEY([TipoComponentes])
REFERENCES [dbo].[TipoComponentes] ([idTipoComponentes])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ComponentesModulos] CHECK CONSTRAINT [FK_ComponentesModulos_TipoComponentes1]
GO
ALTER TABLE [dbo].[Modulos]  WITH CHECK ADD  CONSTRAINT [FK_Modulos_Suites] FOREIGN KEY([Suite])
REFERENCES [dbo].[Suites] ([idSuite])
GO
ALTER TABLE [dbo].[Modulos] CHECK CONSTRAINT [FK_Modulos_Suites]
GO
ALTER TABLE [dbo].[ModuloVersiones]  WITH CHECK ADD FOREIGN KEY([idVersion])
REFERENCES [dbo].[Versiones] ([idVersion])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Perfiles_has_Menus]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles_has_Menus_Menus] FOREIGN KEY([idMenus])
REFERENCES [dbo].[Menus] ([idMenus])
GO
ALTER TABLE [dbo].[Perfiles_has_Menus] CHECK CONSTRAINT [FK_Perfiles_has_Menus_Menus]
GO
ALTER TABLE [dbo].[Perfiles_has_Menus]  WITH CHECK ADD  CONSTRAINT [FK_Perfiles_has_Menus_Perfiles] FOREIGN KEY([CodPrf])
REFERENCES [dbo].[Perfiles] ([CodPrf])
GO
ALTER TABLE [dbo].[Perfiles_has_Menus] CHECK CONSTRAINT [FK_Perfiles_has_Menus_Perfiles]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Ambientes] FOREIGN KEY([idAmbientes])
REFERENCES [dbo].[Ambientes] ([idAmbientes])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Ambientes]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Clientes] FOREIGN KEY([idClientes])
REFERENCES [dbo].[Clientes] ([idClientes])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Clientes]
GO
ALTER TABLE [dbo].[Tareas]  WITH CHECK ADD  CONSTRAINT [FK_Tareas_Componentes1] FOREIGN KEY([Modulo], [idVersion], [NameFile])
REFERENCES [dbo].[Componentes] ([Modulo], [idVersion], [NameFile])
GO
ALTER TABLE [dbo].[Tareas] CHECK CONSTRAINT [FK_Tareas_Componentes1]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([idPersonas])
REFERENCES [dbo].[Personas] ([idPersonas])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Perfiles] FOREIGN KEY([CodPrf])
REFERENCES [dbo].[Perfiles] ([CodPrf])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Perfiles]
GO
ALTER TABLE [dbo].[Versiones_has_Clientes]  WITH CHECK ADD  CONSTRAINT [FK__Versiones__idCli__1BFD2C07] FOREIGN KEY([idClientes])
REFERENCES [dbo].[Clientes] ([idClientes])
GO
ALTER TABLE [dbo].[Versiones_has_Clientes] CHECK CONSTRAINT [FK__Versiones__idCli__1BFD2C07]
GO
ALTER TABLE [dbo].[Versiones_has_Clientes]  WITH CHECK ADD FOREIGN KEY([idVersion])
REFERENCES [dbo].[Versiones] ([idVersion])
GO
ALTER TABLE [dbo].[Versiones_has_Clientes_has_Ambientes]  WITH CHECK ADD FOREIGN KEY([idAmbientes])
REFERENCES [dbo].[Ambientes] ([idAmbientes])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Versiones_has_Clientes_has_Ambientes]  WITH CHECK ADD FOREIGN KEY([idVersion], [idClientes])
REFERENCES [dbo].[Versiones_has_Clientes] ([idVersion], [idClientes])
GO
ALTER TABLE [dbo].[Versiones_has_Clientes_has_Ambientes]  WITH CHECK ADD FOREIGN KEY([idVersion], [idClientes])
REFERENCES [dbo].[Versiones_has_Clientes] ([idVersion], [idClientes])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddComponentesByXml]    Script Date: 06-02-2017 11:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddComponentesByXml]                
 @xmlOrder text               
as                
begin              
 DECLARE @iTree  INTEGER                
 
 EXEC sp_xml_preparedocument @iTree OUTPUT, @xmlOrder                
  
begin tran

insert into ModuloVersiones(
	Modulo
	,idVersion
)
SELECT DISTINCT Modulo               
    ,idVersion  
 FROM                
 OPENXML(@iTree, '/root/parametro', 1)               
 WITH (                
    Modulo char(30),
    idVersion int,
    NameFile varchar(50),
	FechaFile datetime
 )  

insert into Componentes(                
	 Modulo                 
    ,idVersion                 
    ,NameFile
    ,FechaFile
 )              
 SELECT Modulo                 
    ,idVersion                 
    ,NameFile
    ,FechaFile
 FROM                
 OPENXML(@iTree, '/root/parametro', 1)               
 WITH (                
    Modulo char(30),
    idVersion int,
    NameFile varchar(50),
	FechaFile datetime
 )  
 if @@error <> 0               
 begin               
    rollback tran               
    select @@error as coderr, 'No se pudo insertar Componentes' as msgerr               
 return               
 end

commit tran               

select 0 as coderr, '' as msgerr 

end                


GO
/****** Object:  StoredProcedure [dbo].[sp_AddComponentesModulos]    Script Date: 06-02-2017 11:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_AddComponentesModulos]                
 @xmlOrder text               
as                
begin              
 DECLARE @iTree  INTEGER                
 
 EXEC sp_xml_preparedocument @iTree OUTPUT, @xmlOrder                
  
begin tran

insert into ComponentesModulos(                
	 Nombre                 
    ,Descripcion                 
    ,Modulos
    ,TipoComponentes
 )              
 SELECT Nombre                               
       ,Descripcion
       ,Modulos
	   ,TipoComponentes
 FROM                
 OPENXML(@iTree, '/root/parametro', 1)               
 WITH (                
    Nombre varchar(100),
    Descripcion text,
    Modulos int,
	TipoComponentes int
 )  
 if @@error <> 0               
 begin               
    rollback tran               
    select @@error as coderr, 'No se pudo insertar ComponentesModulo' as msgerr               
 return               
 end

commit tran               

select 0 as coderr, '' as msgerr 

end                



GO
/****** Object:  StoredProcedure [dbo].[sp_ins_cliente]    Script Date: 06-02-2017 11:45:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ins_cliente] 
(@idCmn int, 
@Rut int, 
@Dv char, 
@RazonSocial varchar(100), 
@Direccion varchar(100), 
@NroLicencia varchar(100),
@NumFolio int,
@EstMtc int,
@MesIni varchar(50),
@NroTrbc varchar(50),
@NroTrbh varchar(50),
@NroUsr varchar(50))
AS
BEGIN
Declare @codError int;
Declare @msgError varchar(1000);
Declare @existeLic int;

SET NOCOUNT ON;
Begin Tran Tadd

Begin Try

	INSERT INTO clientes(idCmn
						,Rut
						,Dv
						,RazonSocial
						,Direccion
						,NroLicencia
						,Folio
						,EstMtc
						,MesIni
						,NroTrbc
						,NroTrbh
						,NroUsr)
				VALUES(@idCmn
					  ,@Rut
					  ,@Dv
					  ,@RazonSocial
					  ,@Direccion
					  ,@NroLicencia
					  ,@NumFolio
					  ,@EstMtc
					  ,@MesIni
					  ,@NroTrbc
					  ,@NroTrbh
					  ,@NroUsr);
	SET @existeLic = (SELECT max(numero) FROM Folios WHERE Identificador = 'Licencia');

	IF @existeLic IS NULL 
	BEGIN
	INSERT INTO Folios
				VALUES('Licencia'
					  ,1000);
	END
	ELSE
	BEGIN
	UPDATE Folios SET numero=numero+1
			      WHERE Identificador = 'Licencia';
	END
	
	
	COMMIT TRAN Tadd

	set @codError = 0; 
	set @msgError = '';

End try
Begin Catch

	Rollback TRAN Tadd

	set @codError = ERROR_NUMBER(); 
	set @msgError = ERROR_MESSAGE();

End Catch

select @codError as codErr, @msgError as msgErr

END;


GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Formato de registro es [Descripcion=Link#]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menus', @level2type=N'COLUMN',@level2name=N'Submenus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'C=Caducado V=Vigente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Modulos', @level2type=N'COLUMN',@level2name=N'Estado'
GO
