
<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <h1>Detalles de la Versi&oacute;n</h1>
            <ol class="breadcrumb autoscroll">
                <li><a href="/Admin#/">Versiones</a></li>
                <li class="active">Una Versi&oacute;n</li>
            </ol>
        </div>
    </div>
    <div class="row" ng-show="msgError != ''">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <strong>Error: </strong> {{msgError}}
            </div>
        </div>
    </div>
    <div class="row" ng-show="msgSuccess != ''">
        <div class="col-md-12">
            <div class="alert alert-success" id="msgsuccess" tabindex="1">
                {{msgSuccess}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar hidden-xs">
                <div class="btn-group" role="toolbar">
                    <button data-toggle="modal" data-target="#publica-modal" ng-disabled="formData.estado=='C' || formData.estado=='P'" class="btn btn-default" ng-hide="idversion==0">
                        <span class="fa fa-fw fa-square-o" ng-show="formData.estado=='N'"></span><span class="fa fa-fw fa-check-square-o" ng-show="formData.estado=='P'"></span> Publicar
                    </button>


                    <button data-target="#confirma-cambio" data-toggle="modal" class="btn btn-danger" ng-hide="idversion==0 || formData.estado=='C'">
                        <span class="fa fa-ban"></span> Dejar No Vigente
                    </button>

                    <button data-target="#confirma-cambio" data-toggle="modal" class="btn btn-success" ng-hide="idversion==0 || formData.estado == 'N' || formData.estado=='P'">
                        <span class="fa fa-check-square-o"></span> Dejar Vigente
                    </button>
                </div>
            </div>

            <div class="btn-toolbar visible-xs-block">
                <div class="btn-group" role="toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="fa fa-fw fa-binoculars"></span> Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="ShowConfirmPublish()" ng-disabled="formData.estado=='C'" data-toggle="modal" ng-hide="idversion==0">
                                    <span class="fa fa-square-o" ng-show="formData.estado=='N'"></span><span class="fa fa-fw fa-check-square-o" ng-show="formData.estado=='P'"></span> Publicado
                                </a>
                            </li>

                            <li>
                                <a ng-click="ShowConfirm()" data-toggle="modal" ng-hide="idversion==0">
                                    <span class="text-danger"><span class="fa fa-fw fa-trash-o"></span> Eliminar Versi&oacute;n</span>
                                </a>
                            </li>

                            <li>
                                <a href="Admin#/PublicarParcial/{{idversion}}" class="btn btn-info" ng-hide="idversion==0 || formData.estado!='N'">
                                    <span class="fa fa-fw fa-bullhorn"></span> Publicar Parcialmente
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{titulo}}</h3>
                </div>

                <div class="panel-body">
                    <form name="frmMain" method="post" action="#" novalidate>
                        <div class="form-group">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon" title="Release"><i class="fa fa-tablet fa-fw"></i></span>
                                <input class="form-control" type="text" name="name" ng-disabled="btnBlock" placeholder="Release" ng-model="formData.release" required="required" ng-maxlength="100" ng-model-options="{ updateOn: 'blur' }">
                                <a href="" class="input-group-addon" ng-click="btnBlock = !btnBlock"><i class="fa fa-pencil fa-fw"></i></a>
                                <a href="" class="input-group-addon" ng-click="AumentarRelease(formData)"><i class="fa fa-plus fa-fw"></i></a>
                            </div>
                            <span class="error_ingreso" ng-show="frmMain.name.$error.required && frmMain.name.$touched">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Campo requerido.
                            </span>
                            <span class="error_ingreso" ng-show="frmMain.name.$error.maxlength">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Largo máximo no debe superar los 100 carácteres
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="input-group date" id='datepicker'>
                                <span class="input-group-addon" title="Fecha"><i class="fa fa-calendar-o fa-fw"></i></span>
                                <input class="form-control" id="fecha" type="text" name="fecha" placeholder="Fecha de Liberación" ng-model="formData.fecha" required="required" ng-maxlength="10">
                            </div>
                            <span class="error_ingreso" ng-show="frmMain.fecha.$error.required && frmMain.fecha.$touched">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Campo requerido.
                            </span>
                        </div>

                        <div class="form-group">
                            <div class="input-group margin-bottom-sm">
                                <span class="input-group-addon" title="Comentario"><i class="fa fa-comment-o fa-fw"></i></span>
                                <textarea class="form-control" rows="5" name="comentario" placeholder="Comentario" ng-model="formData.comentario" required="required" ng-maxlength="2048" ng-model-options="{ updateOn: 'blur' }"></textarea>
                            </div>
                            <span class="error_ingreso" ng-show="frmMain.comentario.$error.required && frmMain.comentario.$touched">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Campo requerido.
                            </span>
                            <span class="error_ingreso" ng-show="frmMain.comentario.$error.maxlength">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Largo máximo no debe superar los 2048 carácteres
                            </span>
                        </div>

                        <hr />

                        <button type="button" class="btn btn-primary btn-block" ng-click="frmMain.$valid && SaveVersion(formData)" ng-disabled="!increate">
                            <span class="fa fa-pencil-square-o" ng-show="increate"></span>
                            <span class="fa fa-circle-o-notch fa-spin" ng-hide="increate"></span> {{labelcreate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" ng-hide="idversion==0">
        <div class="col-md-12">
            <h1>Componentes</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-toolbar" role="toolbar">
                                <a href="/Admin#/CrearComponente/{{idversion}}" ng-disabled="formData.estado=='C' || formData.estado=='P'" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><span class="fa fa-cubes"></span></span> Asignar Componente
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="alert alert-warning" ng-show="!ComponentesOkSegunVersion()">
                <strong>ADVERTENCIA!</strong>: Existen componentes con error de versión. Si desea omitir estos errores click <a href="" data-toggle="modal" data-target="#confirmeomitir-modal" class="alert-link">AQUÍ</a>.
            </div>
            <br />
            <div class="row" ng-repeat="tipoComp in TipoComponentes">
                <button data-toggle="collapse" class="btn btn-default btn-block" data-target="#{{$index}}">{{tipoComp.Tipo.Nombre}}</button>

                <br />
                <div id="{{$index}}" class="collapse">
                    <div class="col-md-4 col-sm-4 col-xs-12" ng-repeat="ejecutable in componentes | filtroComponente: tipoComp.Tipo.Extensiones">
                        <div class="item panel panel-{{ejecutable.isOk}}">
                            <div class="panel-heading">
                                <h3 class="panel-title single-line">{{ejecutable.componente.Name}}</h3>
                            </div>
                            <div class="panel-body">
                                <img src="~/Content/Images/Run.png" alt="" class="avatar img-thumbnail image-foto" />
                                <div class="pull-right" style="width: 50%">
                                    <ul class="list-unstyled">
                                        <li><span class="fa fa-fw fa-cube"></span> {{ejecutable.componente.Modulo}}</li>
                                        <li><span class="fa fa-fw fa-calendar"></span> {{ejecutable.componente.DateCreateFmt}}</li>
                                        <li><span class="fa fa-fw fa-bug"></span> {{ejecutable.componente.Version}}</li>
                                        <li ng-hide="ejecutable.isOk == 'success'">
                                            <center>
                                                <a href="" class="error_ingreso" data-toggle="tooltip" title="{{ejecutable.componente.MensajeToolTip}}">
                                                    <h1><span class="fa fa-fw fa-exclamation-triangle"></span></h1>
                                                </a>
                                            </center>
                                            <script>
                                                $(document).ready(function () {
                                                    $('[data-toggle="tooltip"]').tooltip();
                                                });
                                            </script>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right" ng-init="inficha=true">
                                <a href="Admin#/EditComponente/{{idversion}}/{{ejecutable.componente.Name}}" ng-click="ico_load = 'fa fa-circle-o-notch fa-spin'; blockBtn = true;" ng-init="ico_load = 'fa fa-pencil'; blockBtn= false;" class="btn btn-labeled btn-primary" ng-disabled="formData.estado=='C' || blockBtn">
                                    <span class="btn-label"><span class="{{ico_load}}"></span></span> Editar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" ng-hide="idversion==0">
        <div class="col-md-12">
            <h1>Control de Cambios</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-toolbar" role="toolbar">
                                <a href="/Admin#/ControlCambios/{{idversion}}" ng-disabled="formData.estado=='C' || formData.estado=='P'" class="btn btn-labeled btn-success">
                                    <span class="btn-label"><span class="fa fa-cubes"></span></span> Asignar Control de Cambios
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="cc in listaControlCambios">
                            <div class="row">
                                <div class="col-md-1">
                                    <center>
                                        <img src="~/Img/Chat_CC_WinAct.png" alt="" />
                                    </center>
                                </div>
                                <div class="col-md-11">
                                    <div class="list-group-item-heading">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <img src="~/Img/Circle_CC_Winact.png" alt="" width="10" height="10" /> Release: {{cc.Release}}
                                            </div>
                                            <div class="col-md-3">
                                                <div class="pull-right">
                                                    {{cc.FechaFmt}} <img src="~/Img/Reloj_CC_Winact.png" alt="" width="15" height="15" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                N° Tips: {{cc.Tips}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                Por: {{cc.Usuario}} <img src="~/Img/User_CC_Winact.png" alt="" width="15" height="15" /><label style="width:10px;"></label>Módulo: {{cc.ModuloFmt.NomModulo}} <img src="~/Img/Modulo_CC_Winact.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{cc.Descripcion}}
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="pull-right">
                                                <a href="/Admin/#/ControlCambios/{{idversion}}/{{cc.Tips}}/{{cc.Modulo}}" class="btn btn-default btn-xs" title="Ver detalladamente el control de cambios."><i class="fa fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmeomitir-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    A continuación se procederá a omitir los componentes con error de versión para su posterior publicación.
                    Recuerde que una vez publicada la versión, no la podrá eliminar.
                    <br />
                    ¿Está seguro que desea omitir los componentes con error de versión?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="OmitirComponentes()">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmar Publicaci&oacute;n</h4>
                </div>
                <div class="modal-body">
                    Esta opci&oacute;n permite indicar que la versi&oacute;n ya se encuentra lista para ser distribuida
                    a los clientes. Una vez confimada la publicacaci&oacute;n, WinPer Update tomar&aacute; esta acci&oacute;n
                    como una orden para empezar a informar a los clientes que se ha liberado una nueva versi&oacute;n de Winper
                    y que pueden (si lo desean), instalarla en sus estaciones de trabajo.<br /><br />
                    Confirma que desea publicar la Versi&oacute;n ?
                </div>
                <div class="modal-footer">
                    <span style="color: red">{{mensaje}}</span>
                    <button class="btn btn-danger" ng-disabled="formData.estado=='P'" ng-click="Publicar()">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmar Eliminación</h4>
                </div>
                <div class="modal-body">
                    Confirma que desea eliminar la Versión ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="Eliminar()">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="avisocomOk-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Aviso WinperUpdate</h4>
                </div>
                <div class="modal-body">
                    Esta acción no puede ejecutarse debido a que WinAct ha detectado que existen componentes
                    cuya versión no es válida en comparación con la versión oficial Winper. Por favor revise los componentes
                    erróneos y vuelva a subirlos.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    
</div>

<div id="publica-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opciones de Publicación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="radioPub" ng-model="radioPublicar" value="0">Publicar a TODOS</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="radio">
                            <label><input type="radio" name="radioPub" ng-model="radioPublicar" value="1">Publicar Parcialmente</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-hide="radioPublicar == 0">
                        <div class="table-responsive" >
                            <table st-table="displayClientes" st-safe-src="listaClientes" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="2"><input st-search="" class="form-control" placeholder="Busqueda ..." type="text" /></th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Nombre Cliente</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="clt in displayClientes" class="row-tabla" style="height: 20px;">
                                        <td style="vertical-align: middle;">
                                            <div class="checkbox">
                                                <label><input type="checkbox" ng-model="clt.check"></label>
                                            </div>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            {{clt.cliente.Nombre}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span style="color: red">{{lblMsgPublica}}</span>
                <button type="button" ng-click="ShowConfirmPublish()" class="btn btn-info">Publicar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<div id="confirma-cambio" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmar Vigencia</h4>
            </div>
            <div class="modal-body">
                <p ng-hide="formData.estado=='C'">¿Confirma que desea dejar <b>No Vigente</b> la versión?</p>
                <p ng-hide="formData.estado == 'N' || formData.estado=='P'">¿Confirma que desea dejar <b>Vigente</b> la versión?</p>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="UpdateEstado('C')" class="btn btn-success" ng-hide="formData.estado=='C'">Confirmar</button>
                <button type="button" ng-click="UpdateEstado('P')" class="btn btn-success" ng-hide="formData.estado == 'N' || formData.estado=='P'">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="Version" value="{{idversion}}" />

<script type="text/javascript">
    $(document).ready(function () {
        $('.input-group.date').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true,
        });


        setTimeout(function () {
            $('.input-group.date').datepicker('setDate', $("#fecha").val());
            $('.input-group.date').datepicker('update');
        }, 1500);
    });


</script>