<div class="row">
    <div class="col-md-12">
        <h1>Detalles de la Versi&oacute;n</h1>
        <ol class="breadcrumb autoscroll">
            <li><a href="/Admin#/">Versiones</a></li>
            <li><a href="/Admin#/EditVersion/{{idVersion}}">Version {{version.Release}}</a></li>
            <li class="active">Subir Archivos</li>
        </ol>
    </div>
</div>

