<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Clientes</h1>
            <ol class="breadcrumb autoscroll">
                <li class="active">Clientes Existentes</li>
            </ol>
        </div>
    </div>
    <div class="row" ng-show="msgError != ''">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <strong>Error: </strong> {{msgError}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar hidden-xs">
                <div class="btn-group" role="toolbar">
                    <a href="/Clientes#/CrearCliente" class="btn btn-labeled btn-success">
                        <span class="btn-label"><span class="fa fa-user"></span></span> Crear Cliente
                    </a>
                </div>
                <div class="btn-group" role="toolbar">
                    <button type="button" class="btn btn-labeled btn-warning" ng-click="GenerarPDF()">
                        <span class="btn-label"><span class="fa fa-file-pdf-o"></span></span>Exportar Clientes a PDF
                    </button>
                </div>
            </div>

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="alert alert-info" ng-show="clientes.length==0">
                        <span class="fa fa-signal"></span> Clientes Existentes
                    </div>
                    <div class="table-responsive" ng-hide="clientes.length==0">
                        <table st-table="displayClientes" st-safe-src="clientes" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Rut</th>
                                    <th>Razon Social</th>
                                    <th>Dirección</th>
                                    <th>Comuna</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th colspan="6"><input st-search="" class="form-control" placeholder="Busqueda global ..." type="text" /></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="cliente in displayClientes" class="row-tabla" style="height: 20px;">
                                    <td style="vertical-align: middle;">{{cliente.RutFmt}}</td>
                                    <td style="vertical-align: middle;">{{cliente.Nombre}}</td>
                                    <td style="vertical-align: middle;">{{cliente.Direccion}}</td>
                                    <td style="vertical-align: middle;">{{cliente.Comuna.NomCmn}}</td>
                                    <td style="vertical-align: middle;">
                                        <button type="button" ng-click="ShowMdlMotivo(cliente.Id)" title="Ver motivo" ng-hide="cliente.Estado != 'C'" class="btn btn-labeled btn-default btn-xs">{{cliente.EstadoFmt}}
                                        </button>
                                        <label ng-hide="cliente.Estado == 'C'" class="btn btn-labeled btn-default btn-xs">{{cliente.EstadoFmt}}</label>
                                    </td>
                                    <td>
                                        <a href="/Clientes#/EditCliente/{{cliente.Id}}" class="btn btn-info btn-xs" title="Modificar Cliente">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10" st-template="../../Scripts/smart-table/pagination.custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="mdlMotivo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cliente No Vigente</h4>
                </div>
                <div class="modal-body">
                    <p>Fecha: {{clienteNoVigente.FechaFmt}}</p>
                    <br />
                    <p>{{clienteNoVigente.Motivo}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

